.click-to-top {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  right: 60px;
  bottom: 48px;
  background: white;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  user-select: none;

  @include media-query(1024px) {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    right: 35px;
    font-size: 14px;
  }

  @include media-query($on-palm) {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    right: 20px;
    font-size: 12px;
  }
}

.click-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

html[data-theme="dark"] {
  .click-to-top {
    background: #34323D;
  }
}