<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include views/header.html -%}

  {%- include views/banner.html -%}

  {%- include extensions/hashlocate.html -%}

  {%- include extensions/theme-toggle.html -%}

  {%- include extensions/click-to-top.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include views/footer.html -%}
  <!-- <script src="/assets/js/protostar.js" defer></script> -->
  <!-- Protostar Chatbot -->
  <!-- <script>
    (function (w, d, s, o, r) {
      w['ProtostarConfig'] = r;
      var f = d.getElementsByTagName(s)[0], j = d.createElement(s);
      j.async = true; j.src = o;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'https://service-protostar.ddns.net/chatbot.js', { domain: 'https://paul2021-r.github.io/', baseUrl: 'https://service-protostar.ddns.net' });
  </script> -->

  <!-- Protostar Chatbot -->
  <script>
    (function (w, d, s, o, r) {
      w['ProtostarConfig'] = r;
      var f = d.getElementsByTagName(s)[0], j = d.createElement(s);
      j.async = true; j.src = o;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'http://localhost:5858/chatbot.js', { domain: 'https://paul2021-r.github.io/', baseUrl: 'http://localhost:5858' });
  </script>

</body>

</html>